{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Hero Area -->
    {% include 'hero.html' %}
      
    <!-- Services Section -->
      {% include 'services.html' %}

    <!-- About Section -->
      {% include 'about.html' %}

    <!-- Features Section -->
      {% include 'features.html' %}

    <!-- Team Section -->
      {% include 'team.html' %}

    <!-- Pricing section --> 
      {% include 'prices.html' %}
  
    <!-- Testimonial Section -->
      {% include 'testimonial.html' %}

    <!-- Call To Action Section -->
      {% include 'calltoaction.html' %}

    <!-- Contact Section -->
      {% include 'contact.html' %}

    <!-- Footer Section -->
      {% include 'footer.html' %} 
{% endblock %}